[Desktop Entry]
Encoding=UTF-8
Name=Manage Software
Comment=Managed installed packages
Icon=system-installer
Exec=pk-application
Terminal=false
Type=Application
Categories=GNOME;GTK;System;X-Red-Hat-Base;
OnlyShowIn=GNOME;
StartupNotify=true

