# See https://editorconfig.org/
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
charset = utf-8

[*.{c,h}]
indent_style = tab
indent_size = 8

[*.sh]
indent_style = space
indent_size = 4

[*.xml]
indent_style = space
indent_size = 4

[meson.build]
indent_style = space
indent_size = 4

[*.{cpp,hpp,cc,hh}]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
