Makefile
Makefile.in
aclocal.m4
config.cache
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
compile
depcomp
intl
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
install-sh
stamp-h
stamp-h1
stamp-h.in
version.h
intl
macros
INSTALL
PackageKit-*.tar.*
org.freedesktop.PackageKit.conf
xml-i18n-extract.in
xml-i18n-extract
xml-i18n-merge.in
xml-i18n-merge
xml-i18n-update.in
xml-i18n-update
intltool-extract.in
intltool-extract
intltool-merge.in
intltool-merge
intltool-update.in
intltool-update
xmldocs.make
omf.make
gtk-doc.make
*~
*.pc
py-compile
*.swp
tags
*.patch
NEWS.new
.lock-wscript
.waf-*
_build_
waf-lightc
wafadmin
packagekit.types
.anjuta
*.cache
*.anjuta
ChangeLog
.deps
.acb
*.la
*.lo
*.o
*.lai
*.so
