<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

<!--
Policy definitions for PackageKit system actions.
Copyright (c) 2007 Richard Hughes <richard@hughsie.com>
-->

  <action id="org.freedesktop.packagekit.install">
    <description>Install package</description>
    <message>System policy prevents installing package</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.packagekit.localinstall">
    <description>Install local file</description>
    <message>System policy prevents installing file</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.packagekit.update">
    <description>Update package</description>
    <message>System policy prevents updating package</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.packagekit.remove">
    <description>Remove package</description>
    <message>System policy prevents removing package</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.packagekit.update">
    <description>Update all packages on system</description>
    <message>System policy prevents updating system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.packagekit.rollback">
    <description>Rollback to a previous transaction</description>
    <message>System policy prevents rollback</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

</policyconfig>

