body {
	background: #fefeff;
	color: #000000;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

h1, h2, h3 {
	color: #000000;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	}

p.title {
	color: #000000;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	}

p.footer {
	color: #000000;
	text-align: center;
	font-size: 6px;
	}

p.caption {
	color: #000000;
	text-align: center;
	font-style: italic;
	}

th {
	color: #000000;
	text-align: left;
	}

a.indextitle {
	color: #000147;
	font-weight: bolder;
	font-size: 20px;
	}

p.indextitle {
	text-align: center;
	}

table.title {
	color: #000000;
	background-color: #f5f5ff;
	}

img {
	border: 0;
	}

img.caption {
	border: 0;
	text-align: center;
	}

code {
	color: #000000;
	font: 1.1em 'Courier New', Courier, Fixed;
	margin-left: .3em;
	margin-right: .3em;
	}

pre {
	color: #000000;
	background: #eeeeee;
	padding: 3px;
}

a:hover {
	color: #147;
	text-decoration: none;
	}

a {
	color: #147;
	text-decoration: none;
	}

td.title {
	color: #000000;
	font-weight: bold;
	}

