\COPYING
INSTALL
LIBS
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1
.deps
.libs
*.lo
*.o
*.la
po/Makefile*
po/POTFILES
po/stamp-it

