Makefile.in
Makefile.libs
.libs
tmpl
xml
html
html-build.stamp
html.stamp
packagekit-docs.xml
packagekit.args
packagekit.hierarchy
packagekit.interfaces
packagekit.prerequisites
packagekit.signals
packagekit.types
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp

